h1{
    letter-spacing: -10px;
    text-shadow: 30px 20px pink;
    color: white;
    font-size: 300%;
    text-decoration: line-through;
}

body {
    background-image: url("http://www.startrek.com/images/TNG.jpg");
    background-size: cover;
}

h2{
    color: white;
}

h3{
    color: blue;
    text-align: center;
    text-decoration: underline;
}

ul{
    text-align: right;
    font-weight: bold;
}

p{
    border-style: double;
    text-transform: lowercase;
    color: yellow;
    font-style: oblique;
}

.extreme{
	font-size: 100px;
	color: white;
}

.prose{
	font-weight: bold;
}

.content{
	text-align: center;
}

.navzone{
	background-color: orange;
}

.tehlulz{
	color: purple;
}