h1{
    letter-spacing: -10px;
    text-shadow: 3px 2px black;
    font-size: 300%;
    text-decoration: line-through;
}

body {
    background-image: url("http://www.startrek.com/images/TNG.jpg");
    background-size: cover;
}

h3{
    color: blue;
    text-align: right;
}

ul{
    text-align: center;
    font-weight: bold;
}

p{
    border-style: double;
}